@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Người dùng";
    Layout = "_AdminLayout";
}

<div class="container">
    <h1 style="text-align: center;">Người dùng hệ thống</h1>

    @if (!Model.Any())
    {
        <div class="alert alert-warning mt-5">
            <h4 class="alert-heading">Không có người dùng!</h4>
            <p class="mb-0">Chưa có người dùng nào được thêm vào.</p>
        </div>
    }
    else
    {
        <div>
            <table class="table table-hover border-primary" id="example">
                <thead>
                    <tr>
                        <th>ID người dùng</th>
                        <th>Tên đăng nhập</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Xác nhận Email</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var u in Model)
                    {
                        <tr class="border-1 border-success">
                            <td class="align-middle">@u.Id</td>
                            <td class="align-middle">@u.UserName</td>
                            <td class="align-middle">@u.PhoneNumber</td>
                            <td class="align-middle">@u.Email</td>
                            <td class="align-middle">@(u.EmailConfirmed ? "Đã xác nhận" : "Chưa xác nhận")</td>
                            <td class="align-middle text-nowrap">
                                <div class="d-inline-flex gap-2">
                                    <a class="btn btn-success rounded rounded-3" asp-controller="Roles" asp-action="addRoles" asp-route-userId="@u.Id">
                                        <i class="bi bi-pencil"></i> Chỉnh sửa vai trò
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({ responsive: true });
        });
    </script>
}
